<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Welcome to my Albums page</h1>

    <div th:each="album:${albums}" class="cont">
        <h1><a th:href="${'/albums/'+album.id}">More Inforamtion</a></h1>
        <h1>Title: <span th:text="${album.title}"></span></h1>
        <h2>Artist: <span th:text="${album.artist}"></span></h2>
        <p>Song Count: <span th:text="${album.songCount}"></span></p>
        <p>Length: <span th:text="${album.length}"></span></p>
        <h1><a th:href="${'/addsongs/'+album.id}">Add new Song</a></h1>
        <span> <img th:src=${album.imageUrl}></span>
    </div>
</body>
</html>